<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
    <combo>WRButtonEvent.B</combo>
    <button>
        <name>close</name>
        <event>WRButtonEvent.ONE</event>
        <combination>true</combination>
    </button>
    <button>
        <name>back</name>
        <event>WRButtonEvent.LEFT</event>
        <combination>false</combination>
    </button>
    <button>
        <name>close_tab</name>
        <event>WRButtonEvent.MINUS</event>
        <combination>true</combination>
    </button>
    <button>
        <name>continuous_left_click</name>
        <event>WRButtonEvent.A</event>
        <combination>true</combination>
    </button>
    <button>
        <name>decrease_letter_size</name>
        <event>WRButtonEvent.MINUS</event>
        <combination>false</combination>
    </button>
    <button>
        <name>down</name>
        <event>WRButtonEvent.DOWN</event>
        <combination>false</combination>
    </button>
    <button>
        <name>end</name>
        <event>WRButtonEvent.DOWN</event>
        <combination>true</combination>
    </button>
    <button>
        <name>enter</name>
        <event>WRButtonEvent.ONE</event>
        <combination>false</combination>
    </button>
    <button>
        <name>favorites</name>
        <event>WRButtonEvent.HOME</event>
        <combination>true</combination>
    </button>
    <button>
        <name>forward</name>
        <event>WRButtonEvent.RIGHT</event>
        <combination>false</combination>
    </button>
    <button>
        <name>home</name>
        <event>WRButtonEvent.UP</event>
        <combination>true</combination>
    </button>
    <button>
        <name>increase_letter_size</name>
        <event>WRButtonEvent.PLUS</event>
        <combination>false</combination>
    </button>
    <button>
        <name>left</name>
        <event>WRButtonEvent.LEFT</event>
        <combination>true</combination>
    </button>
    <button>
        <name>left_click</name>
        <event>WRButtonEvent.A</event>
        <combination>false</combination>
    </button>
    <button>
        <name>open_browser</name>
        <event>WRButtonEvent.HOME</event>
        <combination>false</combination>
    </button>
    <button>
        <name>open_tab</name>
        <event>WRButtonEvent.PLUS</event>
        <combination>true</combination>
    </button>
    <button>
        <name>right</name>
        <event>WRButtonEvent.RIGHT</event>
        <combination>true</combination>
    </button>
    <button>
        <name>right_click</name>
        <event>WRButtonEvent.TWO</event>
        <combination>false</combination>
    </button>
    <button>
        <name>tab</name>
        <event>WRButtonEvent.TWO</event>
        <combination>true</combination>
    </button>
    <button>
        <name>up</name>
        <event>WRButtonEvent.UP</event>
        <combination>false</combination>
    </button>
</configuration>
